version: "3"
services:
  db:
    image: mysql
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: 'dictionnaire' 
    networks:
      - dev

  phpmyadmin:
    image: phpmyadmin
    depends_on: 
      - db
    ports:
      - 8090:80
    environment:
      PMA_HOST: db 
    networks:
      - dev  
      
  fastapi:
    build:
      context: . 
    depends_on: 
      - db
    expose:
      - "80"
    deploy:
      replicas: 5
    networks:
      - dev
    volumes:
      - ./app:/app/code

  nginx:
    image: nginx:alpine
    container_name: loadbalancer
    ports:
      - "5000:80"   
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - fastapi
    networks:
      - dev

networks:
  dev:

volumes: 
  db-data: 

